body{
background-color:#00cc66;
padding:50px 50px 50px 50px;
}

#top_menu
{
    border:red;
    background:blue;
    color:white;
}
#top_menu li{
    display:inline-block;
    list-style: none;
    padding:10px;
    font:bold 14px tahoma;
}



#h3
{
padding:100px;
}





